<html>
  <head>
    <title>Most played scenarios</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>Your most played scenarios</h1>
      </div>

      <div class="title">
        <h5>Total scenarios: {{.TotalScens}}</h5>
        <h5>Total challenges: {{.TotalPlayed}}</h5>
        <br>
        [Scenario name]: [Number of challenges played]
      </div>

      <div>
        {{range .Sorted}}
            <li class="list-group-item">{{.Name}}: {{.TimesPlayed}} {{.ChartByDateMax}} {{.ChartByDateAvg}}</li>
        {{end}}
      </div>
    </div>
  </body>
</html>
